
*{
    padding: 0;
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

#body{
    background-color: #1e012c;
    background-size: 100%;
    background-attachment: fixed;
}

/*-----------FOOTER------------*/

#footer{
    background-color: #6f00ca;
    align-items: center;
}
